@import "reset";
@import "extends";
@import "mixins";

// Utilities

.flexCenter {
  @include flexCenter();
}

.container {
  max-width: 1500px;
  margin: auto;
  @media screen and (min-width: 1000px) {
    padding: 0 5rem;
  }
}

.hidden {
  display: none !important;
}

// Components

.btn-primary {
  display: inline-block;
  padding: 2px;

  &:hover {
    outline: 1px dotted #110038;
    outline-offset: -3px;
  }
  span {
    display: inline-block;
    padding: 0.25rem 1.5rem;
  }
}

.btn-primary.wicon {
  @include flexCenter();
  padding: 2px;
  span {
    padding: 0rem 0.75rem;
    @include flexCenter();
    img {
      min-width: 10px;
    }
  }
}

.window__header__gradient {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  * {
    padding: 4px;
  }

  span {
    font-size: 12px;
    font-weight: 700;
  }
}

.header-text {
  padding: 0.5rem;
  font-size: 12px;
}

.tag {
  padding: 0.5rem;
  margin: 0.2rem 0.25rem;
  font-size: 12px;
}

.gif-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  &.double {
    grid-column: span 2;
  }

  .gif-image {
    height: 300px;
    width: 100%;
  }

  .tag {
    position: absolute;
    bottom: 1.2rem;
    left: 0.7rem;
  }
}

.gif-bottom-container {
  position: relative;

  .gif-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    padding: 5px;

    span {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &:hover {
    .gif-footer-container {
      display: block;
    }
  } // gif-bottom-container hover
} // gif-bottom-container

.header__gradient {
  padding: 3px;
}

// General Styles

body {
  @extend %fontStack;
}

h1 {
  font-size: 12px;
  padding: 4px 8px;
  font-weight: normal;
}

button {
  cursor: pointer;
}

// Sections

header {
  margin-top: 1px;
  box-shadow: 0 1px 0 0 #110038;
}

section {
  margin-top: 4rem;
}

.navbar {
  margin-top: 40px;
  @include flexCenter();
  justify-content: space-between;

  a {
    display: flex;
  }

  .arrow {
    margin-right: 10px;
  }

  .site-logo {
    height: 4rem;
    width: 6.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
  }
} // navbar

.nav-right-container {
  @include flexCenter(row nowrap);

  .nav-item {
    margin-left: 1rem;
  }

  .mis__guifos {
    padding: 0.35rem 0.5rem 0.35rem 0;
    span {
      position: relative;
      &:before {
        @extend %beforeUnderline;
        top: 15px;
      }
    }
  } // link
} // nav-right-container

.dropdown-container {
  position: relative;

  .dropdown-button {
    cursor: pointer;
    @include flexCenter(row nowrap);

    div:last-child {
      align-self: stretch;
      span {
        align-self: stretch;
      }
    }
  } // dropdown-button

  #dropdown-menu {
    position: absolute;
    width: 100%;
    z-index: 1;

    .dropdown-menu-item {
      position: relative;
      display: block;
      padding: 0.5rem 1rem;
      margin: 10px;

      &:hover:before {
        @extend %beforeUnderline;
        top: 21px;
      }
    } // dropdown-menu-item
  } // dropdown-menu
} // dropdown-container

#search {
  margin-top: 2rem;
  position: relative;

  .search-form-container {
    padding: 2px;
  }

  .search-header {
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
  }

  form {
    padding: 0.8rem 1rem;
    @include flexCenter(row nowrap);
    justify-content: space-between;

    input {
      padding: 0.8rem 1rem;
      width: 100%;
      margin-right: 0.5rem;
      font-size: 12px;
    }

    button:disabled {
      cursor: not-allowed;
      outline: none;
    }

    button[type="submit"] {
      flex-grow: 1;
      max-width: fit-content;

      span {
        padding: 0.3rem 1rem;
        @include flexCenter(row wrap);
      }
    } // submit button
  } // form

  .search-suggestions-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0.7rem 1rem;
  }

  .suggestion {
    width: 100%;
    display: inline-block;
    margin: 0.25rem 0;
    text-align: left;
    padding: 2px;

    span {
      padding: 0.35rem 1rem;
      display: inline-block;
      width: 100%;
    }
  } // suggestion

  .search-tags {
    margin-top: 1rem;
  }
} // search

#suggestions {
  .suggested-gifs-container {
    @extend %gridContainer;

    .gif-container {
      padding: 4px;
    }
  }
}

#trends {
  .trending-gifs-container {
    @extend %gridContainer;
  }
}

#my__gifs {
  .mygifs-container {
    @extend %gridContainer;
  }
}

#search-results {
  .search-gifs-container {
    @extend %gridContainer;
  }
}

#gifs__creation {
  .window-large,
  .window-small,
  .window {
    width: 700px;
    margin: auto;
    padding: 2px;

    .window__buttons .flex {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      margin: 0 15px 10px 15px;
    }
  }

  .camera__svg, .recording__svg {
    width: 15px;
  }

  #phase__1 {
    .window {
      max-width: 600px;
      position: relative;
      margin-bottom: 150px;
    }

    .window__icon {
      position: absolute;
      left: 20px;
      top: 56px;
      width: 30px;
    }

    .creation__instructions {
      margin: auto;
      margin-top: 30px;
      width: 80%;
      h5 {
        font-size: 14px;
      }
      p {
        margin-top: 15px;
      }
      span {
        font-weight: 700;
        font-style: italic;
      }
    }

    .gifs__creation__steps {
      counter-reset: counter 0;
      li {
        margin: 10px;
        list-style-position: inside;
      }
      li:before {
        counter-increment: counter;
        content: counter(counter, decimal) ") ";
        font-weight: bold;
      }
    }

    .buttons__container {
      display: flex;
      justify-content: flex-end;
      margin: 20px 30px 30px 0px;

      .btn-primary {
        padding: 0.25rem 1.6rem;
        margin-right: 15px;
        span {
          border: none;
        }
        &:hover {
          outline: 1px dotted #000;
          outline-offset: -3.5px;
          span {
            border: none;
          }
        }
      }
    }
  } // phase 1

  #phase__2 {
    .window-large {
      width: 700px;
    }

    #preview-container {
      max-height: 500px;
      margin: 15px;
    }

    .video-container,
    .gif-preview {
      width: 100%;
      height: auto;
    }

    .window__buttons {
      .stop-recording {
        * {
          background: #ff6161;
        }
      }

      .start-recording,
      .stop-recording {
        display: flex;

        &:hover {
          *.btn-primary {
            outline: 1px dotted #110038;
            outline-offset: -3px;
          }
        }
      }
      .recording__time {
        padding: 5px 15px;
        margin-right: auto;
      }

      .btn-primary img {
        margin: 0 5px;
      }

      .post-recording-buttons .btn-primary {
        margin-left: 10px;
      }
    }
  } // phase 2

  #phase__3 {
    .window-large {
      &__inner-container {
        display: flex;
        flex-direction: column;
        padding: 120px 0 120px 0;
        margin: 15px;
        justify-content: center;
        text-align: center;
        align-items: center;
      }

      .bold-text {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 800;
      }

      .sub-text {
        font-size: 11px;
        margin-top: 10px;
        color: #8a8a8a;
      }

      .strike-through {
        text-decoration: line-through;
      }

      #img-globe {
        width: 35px;
        height: auto;
      }

      .loading-bar {
        display: flex;
        width: 350px;
        height: 20px;
        margin-top: 40px;
        &__item {
          flex: 1;
        }
      }
    }
  }
} // gifs__creation

#phase__4 {
  .window-small {
    max-width: 700px;

    &__inner-container {
      margin: 25px;
      display: flex;
      justify-content: space-around;

      .gif-preview {
        height: 200px;
        width: 350px;
      }
      .guifo-options {
        width: 200px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .dark-text {
          font-weight: 800;
          margin-bottom: 7px;
        }

        .btn-primary {
          margin: 7px 0;
        }
      }
    }

    .window__buttons {
      margin: 35px;

      .btn-primary {
        span {
          padding: 0.25rem 3.5rem;
        }
      }
    }
  }
}
