* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

*:hover {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a:not([class]) {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 12px;
}

body {
  font-family: "Chakra Petch", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.nav-right-container .mis__guifos span:before, .dropdown-container #dropdown-menu .dropdown-menu-item:hover:before {
  content: '';
  width: 7px;
  height: 1px;
  background-color: #110038;
  position: absolute;
}

#suggestions .suggested-gifs-container, #trends .trending-gifs-container, #my__gifs .mygifs-container, #search-results .search-gifs-container {
  margin-top: 1.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template: 1fr/repeat(4, 1fr);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container {
  max-width: 1500px;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 0 5rem;
  }
}

.hidden {
  display: none !important;
}

.btn-primary {
  display: inline-block;
  padding: 2px;
}

.btn-primary:hover {
  outline: 1px dotted #110038;
  outline-offset: -3px;
}

.btn-primary span {
  display: inline-block;
  padding: 0.25rem 1.5rem;
}

.btn-primary.wicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 2px;
}

.btn-primary.wicon span {
  padding: 0rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.btn-primary.wicon span img {
  min-width: 10px;
}

.window__header__gradient {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.window__header__gradient * {
  padding: 4px;
}

.window__header__gradient span {
  font-size: 12px;
  font-weight: 700;
}

.header-text {
  padding: 0.5rem;
  font-size: 12px;
}

.tag {
  padding: 0.5rem;
  margin: 0.2rem 0.25rem;
  font-size: 12px;
}

.gif-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.gif-container.double {
  grid-column: span 2;
}

.gif-container .gif-image {
  height: 300px;
  width: 100%;
}

.gif-container .tag {
  position: absolute;
  bottom: 1.2rem;
  left: 0.7rem;
}

.gif-bottom-container {
  position: relative;
}

.gif-bottom-container .gif-footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  padding: 5px;
}

.gif-bottom-container .gif-footer-container span {
  font-size: 12px;
  font-weight: 700;
}

.gif-bottom-container:hover .gif-footer-container {
  display: block;
}

.header__gradient {
  padding: 3px;
}

h1 {
  font-size: 12px;
  padding: 4px 8px;
  font-weight: normal;
}

button {
  cursor: pointer;
}

header {
  margin-top: 1px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

section {
  margin-top: 4rem;
}

.navbar {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .arrow {
  margin-right: 10px;
}

.navbar .site-logo {
  height: 4rem;
  width: 6.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px;
}

.nav-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap wrap;
          flex-flow: row nowrap wrap;
}

.nav-right-container .nav-item {
  margin-left: 1rem;
}

.nav-right-container .mis__guifos {
  padding: 0.35rem 0.5rem 0.35rem 0;
}

.nav-right-container .mis__guifos span {
  position: relative;
}

.nav-right-container .mis__guifos span:before {
  top: 15px;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap wrap;
          flex-flow: row nowrap wrap;
}

.dropdown-container .dropdown-button div:last-child {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.dropdown-container .dropdown-button div:last-child span {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.dropdown-container #dropdown-menu {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-container #dropdown-menu .dropdown-menu-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin: 10px;
}

.dropdown-container #dropdown-menu .dropdown-menu-item:hover:before {
  top: 21px;
}

#search {
  margin-top: 2rem;
  position: relative;
}

#search .search-form-container {
  padding: 2px;
}

#search .search-header {
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
}

#search form {
  padding: 0.8rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap wrap;
          flex-flow: row nowrap wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search form input {
  padding: 0.8rem 1rem;
  width: 100%;
  margin-right: 0.5rem;
  font-size: 12px;
}

#search form button:disabled {
  cursor: not-allowed;
  outline: none;
}

#search form button[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

#search form button[type="submit"] span {
  padding: 0.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap wrap;
          flex-flow: row wrap wrap;
}

#search .search-suggestions-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0.7rem 1rem;
}

#search .suggestion {
  width: 100%;
  display: inline-block;
  margin: 0.25rem 0;
  text-align: left;
  padding: 2px;
}

#search .suggestion span {
  padding: 0.35rem 1rem;
  display: inline-block;
  width: 100%;
}

#search .search-tags {
  margin-top: 1rem;
}

#suggestions .suggested-gifs-container .gif-container {
  padding: 4px;
}

#gifs__creation .window-large,
#gifs__creation .window-small,
#gifs__creation .window {
  width: 700px;
  margin: auto;
  padding: 2px;
}

#gifs__creation .window-large .window__buttons .flex,
#gifs__creation .window-small .window__buttons .flex,
#gifs__creation .window .window__buttons .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 10px 15px;
}

#gifs__creation .camera__svg, #gifs__creation .recording__svg {
  width: 15px;
}

#gifs__creation #phase__1 .window {
  max-width: 600px;
  position: relative;
  margin-bottom: 150px;
}

#gifs__creation #phase__1 .window__icon {
  position: absolute;
  left: 20px;
  top: 56px;
  width: 30px;
}

#gifs__creation #phase__1 .creation__instructions {
  margin: auto;
  margin-top: 30px;
  width: 80%;
}

#gifs__creation #phase__1 .creation__instructions h5 {
  font-size: 14px;
}

#gifs__creation #phase__1 .creation__instructions p {
  margin-top: 15px;
}

#gifs__creation #phase__1 .creation__instructions span {
  font-weight: 700;
  font-style: italic;
}

#gifs__creation #phase__1 .gifs__creation__steps {
  counter-reset: counter 0;
}

#gifs__creation #phase__1 .gifs__creation__steps li {
  margin: 10px;
  list-style-position: inside;
}

#gifs__creation #phase__1 .gifs__creation__steps li:before {
  counter-increment: counter;
  content: counter(counter, decimal) ") ";
  font-weight: bold;
}

#gifs__creation #phase__1 .buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 30px 30px 0px;
}

#gifs__creation #phase__1 .buttons__container .btn-primary {
  padding: 0.25rem 1.6rem;
  margin-right: 15px;
}

#gifs__creation #phase__1 .buttons__container .btn-primary span {
  border: none;
}

#gifs__creation #phase__1 .buttons__container .btn-primary:hover {
  outline: 1px dotted #000;
  outline-offset: -3.5px;
}

#gifs__creation #phase__1 .buttons__container .btn-primary:hover span {
  border: none;
}

#gifs__creation #phase__2 .window-large {
  width: 700px;
}

#gifs__creation #phase__2 #preview-container {
  max-height: 500px;
  margin: 15px;
}

#gifs__creation #phase__2 .video-container,
#gifs__creation #phase__2 .gif-preview {
  width: 100%;
  height: auto;
}

#gifs__creation #phase__2 .window__buttons .stop-recording * {
  background: #ff6161;
}

#gifs__creation #phase__2 .window__buttons .start-recording,
#gifs__creation #phase__2 .window__buttons .stop-recording {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gifs__creation #phase__2 .window__buttons .start-recording:hover *.btn-primary,
#gifs__creation #phase__2 .window__buttons .stop-recording:hover *.btn-primary {
  outline: 1px dotted #110038;
  outline-offset: -3px;
}

#gifs__creation #phase__2 .window__buttons .recording__time {
  padding: 5px 15px;
  margin-right: auto;
}

#gifs__creation #phase__2 .window__buttons .btn-primary img {
  margin: 0 5px;
}

#gifs__creation #phase__2 .window__buttons .post-recording-buttons .btn-primary {
  margin-left: 10px;
}

#gifs__creation #phase__3 .window-large__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0 120px 0;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gifs__creation #phase__3 .window-large .bold-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 800;
}

#gifs__creation #phase__3 .window-large .sub-text {
  font-size: 11px;
  margin-top: 10px;
  color: #8a8a8a;
}

#gifs__creation #phase__3 .window-large .strike-through {
  text-decoration: line-through;
}

#gifs__creation #phase__3 .window-large #img-globe {
  width: 35px;
  height: auto;
}

#gifs__creation #phase__3 .window-large .loading-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 20px;
  margin-top: 40px;
}

#gifs__creation #phase__3 .window-large .loading-bar__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#phase__4 .window-small {
  max-width: 700px;
}

#phase__4 .window-small__inner-container {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#phase__4 .window-small__inner-container .gif-preview {
  height: 200px;
  width: 350px;
}

#phase__4 .window-small__inner-container .guifo-options {
  width: 200px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#phase__4 .window-small__inner-container .guifo-options .dark-text {
  font-weight: 800;
  margin-bottom: 7px;
}

#phase__4 .window-small__inner-container .guifo-options .btn-primary {
  margin: 7px 0;
}

#phase__4 .window-small .window__buttons {
  margin: 35px;
}

#phase__4 .window-small .window__buttons .btn-primary span {
  padding: 0.25rem 3.5rem;
}
/*# sourceMappingURL=styles.css.map */