html {
  font-size: 12px;
}

.navbar .nav-right-container .mis__guifos:active span:before {
  content: '';
  width: 7px;
  height: 1px;
  background-color: #110038;
  position: absolute;
}

.btn-primary {
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.suggestion {
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.suggestion span {
  border: 1px dotted transparent;
}

.suggestion:hover {
  background: #e6e6e6;
}

.suggestion:hover span {
  border: 1px dotted #110038;
}

.tag {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: #fff;
}

.tag:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
  background: #3a72db;
}

.header-text {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.gif-bottom-container:hover {
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

.gif-bottom-container:hover .tag {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

.gif-bottom-container .gif-footer-container {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.gif-bottom-container .gif-footer-container span {
  color: #fff;
}

.window__header__gradient {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  color: #fff;
  font-weight: 700;
}

body {
  background: #fff4fd;
}

h1 {
  color: #fff;
}

p,
a {
  color: #110038;
}

header {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.navbar .site-logo {
  background-image: url(../../assets/imgs/gifOF_logo.png);
}

.navbar .nav-right-container .dropdown-button:hover * {
  background: #dbacd7;
}

.navbar .nav-right-container .dropdown-button:hover * span {
  border: 1px dotted #110038;
}

.navbar .nav-right-container .mis__guifos {
  border: 1px dotted transparent;
}

.navbar .nav-right-container .mis__guifos:hover {
  border: 1px dotted #110038;
}

.navbar .nav-right-container .mis__guifos:active {
  color: grey;
  border: 1px dotted transparent;
}

.navbar .nav-right-container .mis__guifos:active span:before {
  background-color: grey;
}

.navbar .nav-right-container .dropdown-menu {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.navbar .nav-right-container .dropdown-menu .dropdown-menu-item {
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.navbar .nav-right-container .dropdown-menu .dropdown-menu-item:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

#search .search-form-container {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#search .search-header {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  color: #fff;
}

#search form {
  background: #e6e6e6;
}

#search form input {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

#search form input::-webkit-input-placeholder {
  color: #b4b4b4;
}

#search form input:-ms-input-placeholder {
  color: #b4b4b4;
}

#search form input::-ms-input-placeholder {
  color: #b4b4b4;
}

#search form input::placeholder {
  color: #b4b4b4;
}

#search form button[type="submit"] p::before {
  content: "";
  background: url(../../assets/icons/lupa.svg) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 20px;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

#search form input:placeholder-shown ~ button[type="submit"] {
  cursor: default;
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

#search form input:placeholder-shown ~ button[type="submit"]:hover span {
  border-color: transparent;
}

#search form input:placeholder-shown ~ button[type="submit"] p {
  color: #b4b4b4;
}

#search form input:placeholder-shown ~ button[type="submit"] p::before {
  background-image: url(../../assets/icons/lupa_inactive.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 20px;
}

#search .search-suggestions-container {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#suggestions .suggested-gifs-container .gif-container {
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  outline: 2px solid #e6e6e6;
  outline-offset: -4px;
}

#suggestions .suggested-gifs-container .gif-header-container {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  border-bottom: 2px solid #e6e6e6;
}

#suggestions .suggested-gifs-container .gif-header-container span {
  color: #fff;
}

.trending-gifs-container .gif-container:hover {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #fff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #fff;
}

.trending-gifs-container .gif-bottom-container img {
  padding: 3px;
}

.trending-gifs-container .gif-bottom-container:hover {
  outline-offset: -4px;
}

#gifs__creation .window {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#gifs__creation .btn-primary.light {
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

#gifs__creation #phase__2 .window-large {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#gifs__creation #phase__2 .window-large #webcam__video__container {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

#gifs__creation #phase__2 .window-large .recording__time {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

#gifs__creation #phase__2 .window-large .recording .btn-primary {
  color: #fff;
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
/*# sourceMappingURL=sailor_day.css.map */